body {
    width: 100%;
    height: 100%;
    position: relative;
    
}

#success {
	height: 20px;
}

html {
    width: 100%;
    height: 100%;
}

p {
	font-family: Garamound;
	color: #777;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;

}

.control-label {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 5px;
}

h2 {
	color: #696969;
	font-family: Garamound;
	font-weight: bold;
}
.slogan {
	color: #777;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10%;
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
}

.logo {
	float: none;
	opacity: 0.6;
	margin-top: 100px;
}



.btn-contact, .btn-contact:visited {
	color: rgba(255, 255, 255, 0.9);
	border: none;
	margin-top: 75px;
	background-color: rgba(155, 198, 207, .75);
}


.btn-contact:hover {
	color: white;
	border: none;
	background-color: rgba(155, 198, 207, 1);
}

.btn-contact:active {
	color: white;
	border: none;
	background-color: rgba(90, 161, 175, 1);
}


h2 {
	text-align: center;
}

li {
	font-size: 1.5em;
}

ul {
	padding-right: 30px;
	padding-top: 0;
}


.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  max-width: 90%; 
} 

.style18:before {
	display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px;
}

#showroom {
	height: 550px;
}

.slidshowcontainer {
	width: max;
}

textarea {
	margin-bottom: 20px;
}

label {
	font-weight: normal;
	margin-bottom: 2px;
	margin-top: 15px;
}

form label {
	font-size: 12px;
}

.fa {
	margin: 10px;
}

.navbar-brand {
	height: 15px;
	padding: 0;
}


.jumbocontainer {
	margin-top: 0px;
	background-image: url("../img/diningroom.png");
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding: 0;
}

.jumbotron {
	padding-top: 100px;
	margin: 0px auto;
	text-align: center;
	width: 100%;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.5);

}

.foodservicecontainer {
    width: 100%;
}

.hospitalitycontainer {
	margin-top: 20px;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

#showroom {
	padding-bottom: 0px;

}




/*Circle Image Links*/

.hospitalityservice, .foodservice {
		

	float: left;
	text-align: center;
	margin: 100px auto;
	background: none;
}

.circleimage {
	border: 3px solid rgba(119, 119, 119, 1);
	border-radius: 50%;
	padding: 5px;

	/*hover transition*/

	-o-transition:.25s;
	  -ms-transition:.25s;
	  -moz-transition:.25s;
	  -webkit-transition:.25s;
	  /* ...and now for the proper property */
	  transition:.5s;

}

.circleimage:hover {
	border: 3px solid rgba(119, 119, 119, .2);
	opacity: .2;
}

.circleimage:active {
	border: 3px solid rgba(119, 119, 119, .4);
	opacity: .5;
}

/*End Circle Image Links*/



.pink {
    	border: 2px solid red;
    	padding:0px;
    	}

#map {
	   width: 100%;
	   height: 400px;
	   background-color: grey;
	   margin-top: 50px;
 }

.thumbnail {
	border-radius: 50%;
}


@media(min-width:767px) {
    .navbar {
    	background-color: rgba(177, 232, 236, .75);
    	border: none;
        padding: 10px 0;
        -webkit-transition: background 1s ease-in-out,padding 1s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 2px;
    }
}


/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */


.about-section {
    height: 100%;
    text-align: center;
}

.showroom-section {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 200px;
}

.contact-section {
	margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}

nav .page-scroll  {
	background: none;
}


/*footer*/

.footer {
	width:100%; 
	float:left; 
	background: rgb(178,147,18); 
	height:200px;
}

.footerlogo {
	padding: 20px;

}

.pearly {
	text-align: center;
	width: 100%;
	background: rgb(12,159,173);
}
/* footer social icons */

ul.social-network {
	text-align: center;
	float: none;
	list-style: none;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

a.icoPhone:hover {
	background-color:#3B5998;
}

a.icoEnvelope:hover {
	background-color:#3B5998;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoFacebook:hover i, a.icoPhone:hover, a.icoEnvelope:hover,
.social-network a.icoGoogle:hover i,.social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass, a.icoPhone:hover, a.icoEnvelope:hover {
	color:#44BCDD;
}

.contactButton li a {
	-moz-border-radius:20%;
	-webkit-border-radius:20%;
	border-radius:20%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:20%;
	-webkit-border-radius:20%;
	border-radius:20%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover, .contactButton li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i, .contactButton i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}