	

body {
    width: 100%;
    height: 100%;
    position: relative;   
}

html {
    width: 100%;
    height: 100%;
}

p {
	font-family: Garamound;
	color: #777;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}

h2,h3,h4 {
	color: #696969;
	font-family: Garamound;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

li {
	font-size: 1.5em;
}

ul {
	padding-right: 30px;
	padding-top: 0;
}

/*Navigation*/

nav .page-scroll  {
	background: none;
}

.navbar-brand {
	height: 15px;
	padding: 0;
}

	/* Scrollspy - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
	The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
	of those sections to manage the look and feel of the site. */

		.about-section {
		    height: 100%;
		    text-align: center;
		}

		.showroom-section {
		    padding-top: 40px;
		    text-align: center;
		    margin-bottom: 50px;
		}

		.contact-section {
			margin-top: 0px;
		    padding-top: 80px;
		    padding-bottom: 100px;
		}

		/* End Scrollspy */

@media(min-width:767px) {
    .navbar {
    	background-color: rgba(177, 232, 236, .75);
    	border: none;
        padding: 10px 0;
        -webkit-transition: background 1s ease-in-out,padding 1s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 2px;
    }
}

/*End Navigation*/




/*Jumbotron*/

.jumbocontainer {
	margin-top: 0px;
	background-image: url("../img/diningroom.png");
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
	padding-top: 100px;
	margin: 0px auto;
	text-align: center;
	width: 100%;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.5);
}

.slogan {
	color: #777;
	background-color: rgba(255, 255, 255, 0.5);
	width: 65%;
	margin: 0 auto;
	margin-top: 20px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo {
	float: none;
	opacity: 0.6;
	margin-top: 100px;
}

.btn-contact, .btn-contact:visited {
	color: rgba(255, 255, 255, 0.9);
	border: none;
	margin-top: 75px;
	background-color: rgba(155, 198, 207, .75);
		-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	/* ...and now for the proper property */
	transition:.5s;
}

.btn-contact:hover {
	color: white;
	border: none;
	background-color: rgba(155, 198, 207, 1);
}

.btn-contact:active {
	color: white;
	border: none;
	background-color: rgba(90, 161, 175, 1);
}

/*End Jumbotron*/




/* <hr> styling */

.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  max-width: 90%; 
} 

.style18:before {
	display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px;
}

/* End <hr> styling */

/*Font Awesome*/

.fa {
	margin: 10px;
}

/*End Font Awesome*/


/*Foodservice*/

.foodservicecontainer {
    width: 100%;
   	margin-bottom: 50px;
   	border-top:3px solid rgba(201, 230, 232, .9);
   	border-bottom:3px solid rgba(201, 230, 232, .9);
   	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

/*End Foodservice*/


/*Hospitality*/

.hospitality {
	margin-top: 20px;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin-bottom: 50px;
    border-top:3px solid rgba(201, 230, 232, .9);
   	border-bottom:3px solid rgba(201, 230, 232, .9);
   	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

/*End Hospitality*/

/*Circle Image Links*/

.hospitalityservice, .foodservice {
	float: left;
	text-align: center;
	margin: 40px auto;
	background: none;
}

.circleimage {
	border: 3px solid rgba(119, 119, 119, 1);
	border-radius: 50%;
	padding: 5px;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.5s;
}

.circleimage:hover {
	border: 3px solid rgba(177, 232, 236, .1);
	opacity: .5;
}

.circleimage:active {
	border: 3px solid rgba(41, 160, 168, 1);
	opacity: .3;
}

/*End Circle Image Links*/


/*Slideshow*/

#showroom {
	padding-bottom: 0px;
	height: 750px;
	border-top:3px solid rgba(201, 230, 232, .9);
   	border-bottom:3px solid rgba(201, 230, 232, .9);
	text-align: center;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.slidshowcontainer {
	width: max;
	margin-top: 20px;
}

/*Slideshow*/

/*Contact Form*/

#contact {
	border-top: 3px solid rgba(201, 230, 232, .9);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea:invalid, input:invalid {
  border: 3px solid rgba(201, 230, 232, .9);
}

textarea:valid, input:valid {
  border: 3px solid rgba(77, 172, 179, .9);
}

.control-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 15px;
	color: #777;
	text-align: left;
	font-size: 12px;
}

textarea {
	margin-bottom: 20px;
}

.form-control {
	border: 3px solid rgba(201, 230, 232, .9);	
}

.hidden{
	display: none;
	visibility: hidden;
}

/*End Contact Form*/

/*Google Map*/

#map {
	   width: 100%;
	   height: 400px;
	   background-color: grey;
	   margin-top: 50px;
	   margin-bottom: 10px;
	   -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

.mapBorder {
		-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.mapBorder h2 {
	margin-bottom: 1px;

}

.mapBorder h3 {
	margin-top: 1px;
	margin-bottom: 1px;
	font-weight: normal;
}

.mapBorder p {
	margin-top: 0;
	text-transform: none;
	text-align: center;
	margin-bottom: 15px;
}


/*End Google Map*/

/* Contact Us */

.contactUs a {
	float: right;
	margin: 15px;
	margin-top: 15px;
	border: 3px solid rgba(201, 230, 232, .9);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactUs a:active {
	border: 3px solid rgba(201, 230, 232, .9);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}


/* End Contact Us */

/* About */

.about p {
	width: 60%;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-transform: none;
}

.about h2 {
	margin-top: 150px;
}

.staff h2 {
	margin-top: 5px;
	margin-bottom: 40px;
}

.staffProfile {
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 3px solid rgba(201, 230, 232, .9);;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleBlock {
	width: 60%;
	float: left;
	margin-right: 0;
	border-bottom: 1px solid black;
}

.titleBlock+a {
	float: right;
	margin: 15px;
	margin-top: 5px;
	border: 3px solid rgba(201, 230, 232, .9);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleBlock+a:active {
	border: 3px solid rgba(201, 230, 232, .9);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.staffImage img{
	margin: 0 auto;
	padding-top: 10px;
	width: 70%;
}

.name {
	padding-top: 10px;
	margin-bottom: 1px;
	margin-left: 20px;
	font-size: 3em;
	text-align: left;
	text-transform: none;
	line-height: .9;
}

.title {
	text-align: left;
	margin-left: 25px;
	margin-top: 0px;
	text-transform: none;
}

.profile-description {
	padding: 5px 20px;
	font-size: 12px;
	text-transform: none;
}
/* End About */

/*footer*/

.footer {
	background-image: url("../img/stripes.jpg");
	width:100%; 
	float:left; 
/*	background: rgb(178,147,18);
*/	margin-bottom: 0;
	background-color: rgba(201, 230, 232, .5);
}

.footerlogo {
	padding: 20px;
	opacity: .5;

}

.pearly {
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 100%;
	background: rgba(201, 230, 232, 1);
	font-size: 12px;
	text-transform: none;
}

.footerlinks {
/*	border: 1px solid red;
*/	text-align: center;
	/*padding: 20px;*/
	margin: 20px;
}

.footerlinks li {
	color: white;
	font-size: 20px;
	list-style: none;
}

.statement {
	padding: 20px;
}

	/* footer social icons */


	ul.social-network {
		text-align: center;
		float: none;
		list-style: none;
		padding: 0;
		margin-top: 20px;
	}
	ul.social-network li {
		display: inline;
	}

	.social-network a.icoFacebook {
		background-color:#3B5998;
	}

	.social-network a.icoGoogle {
		background-color:#BD3518;
	}

	.social-network a.icoLinkedin {
		background-color:#007bb7;
	}

	.social-network a.icoFacebook:hover {
		background-color:#3B5998;
	}

	.social-network a.icoGoogle:hover {
		background-color:#BD3518;
	}

	.social-network a.icoLinkedin:hover {
		background-color:#007bb7;
	}
	.social-network a.icoFacebook:hover i, a.icoPhone:hover, a.icoEnvelope:hover,
	.social-network a.icoGoogle:hover i,.social-network a.icoLinkedin:hover i {
		color:#fff;
	}
	a.socialIcon:hover, .socialHoverClass, a.icoPhone:hover, a.icoEnvelope:hover {
		color:#44BCDD;
	}

	.contactButton li {
		list-style: none;
	}

	.contactButton {
		padding-left: 0;
		float: left;
		}

	.socialborder {
		border: 2px solid white;
	    padding: 0;
	    margin: 0;

	   	}
	}
	.contactButton li a {
		-moz-border-radius:20%;
		-webkit-border-radius:20%;
		border-radius:20%;
		text-align:center;
		width: 50px;
		height: 50px;
		font-size:20px;
	}

	.social-circle li a {
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:20%;
		-webkit-border-radius:20%;
		border-radius:20%;
		text-align:center;
		width: 50px;
		height: 50px;
		font-size:20px;
		margin: 7px;
	}
	.social-circle li i {
		margin:0;
		line-height:50px;
		text-align: center;
	}

	.social-circle li a:hover i, .triggeredHover, .contactButton li a:hover i, .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	}

	.social-circle i, .contactButton i {
		color: #fff;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	}

/*End Footer*/


/* Thank you */

.thanks {
	border: 4px solid rgba(201, 230, 232, .5);
	margin-top: 250px;
	width: 75%;
	padding-bottom: 10px;
	text-align: center;
	background: none;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.pink {
	border: 1px solid red;
}
